@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
 .img-1{
    height: 30px;
    width: 30px;
  }
  /* @font-face {
    font-family: myFirstFont;
    src: url(sansation_bold.woff);
    font-weight: bold;
  } */
  .container-fluid{
    background-color: #fffaf0;
  }
  .social-links{
    padding-left: 0;
  }
  
  @media screen and (min-width: 480px) {
    .social-links 
    {
      display: block;
    }
  }

  .bi bi-envelope-fill{
    padding-right: 0;
  }
  header{
    width:100;
  }
  #navbarSupportedContent{
margin-left: 18%;
  }
  .nav-item{
    font-family: "Roboto", sans-serif;
  font-weight: 100px;
  font-style: bold;
  
  }
   .nav-link{
    color: white;
  }
  .nav-link:hover{
    color: green;
    text-decoration: underline;
  } 
  .logclass{
    color: aqua;
    display: flex;
    align-items: center;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  }


.active_name{
  color:white;
  background-color:white;
}
@media screen and (min-width: 880px) {
 
}

