.column{
    float: left;
    width: 30%;
    padding: 10px;
    height: 350px; 
   margin-left: 160px;
   border-radius: 19px;
   background-color: blanchedalmond;
   box-shadow: 10px 10px 25px  black;
   transition: all .3s ease-in-out;
  
  }
  .column:hover{
    transform: scale(1.1);
  }
  .bg{
    background-color: rgb(202, 182, 156);
  }