.column{
    /* float: left; */
    width: 30%;
    padding: 10px;
    height: 350px; 
   margin: 90px;
   border-radius: 19px;
   background-color: blanchedalmond;
   box-shadow: 10px 10px 25px  rgb(255, 241, 241);
   transition: all .3s ease-in-out;
  
  }
  .column:hover{
    transform: scale(1.1);
  }
  .backg{
    background-color: rgb(0, 0, 0);
    
  }
  .About{
    height:550px;
  }