  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.background
{
  background-color: #000;
}
.heading {
  color: white;
  align-items: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 5vw;
  justify-content: center;
  padding-top: 20px;
  text-align: center;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 24px 2px rgba(0, 0, 0, 0.1), 0px 24px 30px rgba(0, 0, 0, 0.1);
}
.online-event {
  padding: 5%;
}
.offline-event {
  padding: 5%;
}
.evnet1 {
  display: flex;
}
.Row {
  display: flex;
  flex-direction: row;
  height: fit-content;
  margin: 0 0 10% 0;
}
.column-event {
  /* width: fit-content; */
  height: fit-content;
  /* float: left; */
  /* width: 47%; */
  padding: 2%;
  margin: 5%;
  /* height: 350px; Should be removed. Only for demonstration */
  /* border:2px solid black; */
  /* margin-left: 160px; */
  border-radius: 19px;
  
  color: white;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
  background-color: #090910;
  /* box-shadow: 10px 10px 25px rgb(226, 200, 200); */
  box-shadow: rgba(255, 255, 255, 0.25) 0px 14px 28px, rgba(255, 255, 255, 0.22) 0px 10px 10px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px, rgba(255, 255, 255, 0.3) 0px 30px 60px -30px, rgba(255, 255, 255, 0.35) 0px -2px 6px 0px inset;
  transition: all 0.3s ease-in-out;
}
.column:hover {
  transform: scale(1.1);
}
.column1 {
  transition: all 0.3s ease-in-out;
}
.column3 {
  transition: all 0.3s ease-in-out;
}

.column1:hover {
  transform: scale(1.1);
}
.column3:hover {
  transform: scale(1.1);
}

.back-to-pavallion {
  color: rgb(238, 225, 227);
  text-shadow: 0px 3px 0px rgb(76, 187, 119), 0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 24px 2px rgba(0, 0, 0, 0.1), 0px 24px 30px rgba(0, 0, 0, 0.1);
}
.column1,
.column3 {
  width: 47%;
  margin: 10px;
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
}
.column2 {
  margin: 10px;
  /* background-color: azure; */
}
.column2,
.column4,.column-event {
  text-align: justify;
}
.image {
  width: 40vw;
  height: 50vh;
  border-radius: 10px;
  box-shadow: 10px 10px 10px black;
}
.column2 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  width: 50vw;
  /* margin-left: 10rem;  */
  padding-top: 5rem;
}
.column4 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  width: 50%;
  margin-right: 3%;
  padding-top: 5rem;
}
.revesre{
  flex-direction: row-reverse;
}

@media (max-width :460px)
{
  .Row{
    flex-direction: column;
    padding: 0 10% 0 10%;
  }
  .column1,.column2,.image,.column3,.column4{
    width: 100%
   }
   .heading{
    font-size: 10vw;
   }
}
